<h1 class="text-4xl">Dashboard repeat shopify</h1>

<div id="spinner">
    loading info
    <div style="border-top-color:transparent"
        class="w-16 h-16 border-4 border-blue-400 border-dotted rounded-full animate-spin"></div>
</div>

<%= react_component("DashboardComponent",  html_class: "flex-grow") %>

