<h1>Dashboard repeat shopify</h1>

<div>
<p><label>Orders #:</label><%=@shopify.orders.count %></p>

<p>
    <label>Customer Lifetime Value:</label><%=@shopify.customer_lifetime_value %>
</p>

<P>
    <label>Most revenue:</label><%=@shopify.most_popular.title %>
</p>

<%=button_tag "Reload" %>
</div>


<div id='loader'>Loading....</div>
